body{
    margin:0;
    overflow-x: hidden
}
.box{
    height: 100vh;
    margin: 0;
    display: flex;
}
.hero{
    background-color: white;
    display: flex;
    z-index: 1;
    margin: 0;
}
.me
{
    height:100vh;
    width: 100%;
    margin:0;
}
.center
{
    align-items: center;
    justify-content: center;
}
.casper
{
    position: absolute;
}
h2{
    display: flex;
    justify-content: flex-start;
    z-index: 3;
    color:#c8e2ff;
    font-size: 15px;
    margin: 0;
}
.left1{
left: 670px;
}
.left2{
    left: 920px;
}
.left3{
    left: 1170px;
}
.left4{
    left: 1420px;
}
.textbox
{
    display: flex;
    width: 100%;
    top:7px;
    left:7px;
    margin: 0;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
